*{
    padding: 0;
    margin: 0;
}

:root {
    --color-font-for-headings: rgb(244, 244, 244);
    --color-font-for-paragraphs: rgb(231, 221, 221);
    --color-red: #E03033;
    --color-darak-gray: rgb(181, 181, 181);
    --background-dark: rgb(25, 25, 25);
    --more-dark: rgb(16, 16, 16);
    --color-for-form: rgb(31, 31, 31);
    --color-for-form-input: rgb(34, 34, 34);
    --color-for-form-input-text: rgb(181, 181, 181);
    --color-for-menu-burger : rgba(0, 0, 0, 0.9);
    scroll-behavior: smooth;
}

body._lock {
    overflow: hidden;
}

#home{
    max-width: 1150px;
    margin: auto;
}

a {
    text-decoration: none;
}

.container {
    background-image: url(../img/bike-for-about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
    margin-left: 25px;
    margin-top: 30px;
}

.logo a{
    color: var(--color-font-for-headings);
    
}

.header-menu-div-flex{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;    
}


.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-font-for-paragraphs);
}

.menu a:hover {
    font-weight: bold;
    color: var(--color-red);
}

.big-text-under-logo {
    height: 211px;
    padding: 155px 15px 155px 15px;
}

.big-text-under-logo h1{
    font-family: 'Playfair Display', serif;
    color: var(--color-font-for-headings);
    font-size: 62px;
    font-weight: 900;
    line-height: 75px;
}

.big-text-under-logo p{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-darak-gray);
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 50px;
}
.big-text-under-logo span {
    color: var(--color-red);
    border-right: 2px solid white;
    padding-right: 5px;
}

.social-networks-fa-burger {
    display: flex;
    justify-content: center;
}

.phonecell {
    color: var(--color-font-for-headings);
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    padding-top: 20px;
}

.social-networks-fa-burger a {
    padding: 0px 10px 0px 10px;
}

.menu_icon {
    display: block;
    z-index: 5;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 18px;
    margin-top: 40px;
    margin-right: 20px;
}

.menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
}

.menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}


.menu_icon span,
.menu_icon::before,
.menu_icon::after{
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}

.menu_icon::before,
.menu_icon::after{
    content: "";
}
.menu_icon::before{
    top: 0;
}

.menu_icon::after{
    bottom: 0;
}

.menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-for-menu-burger);
    text-align: center;
    padding: 70px 0px 30px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
}

.menu._active {
    left: 0;
}

.menu a {
    margin-top: 30px;
    font-size: 24px;
}


@media(min-width:760px) {
    .logo {
        font-size: 39px;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo h1{
        font-size: 88px;
        font-weight: 900;
        line-height: 106px;
    }

    .big-text-under-logo {
        width: 743px;
        height: 300px;
        padding: 192px 32px 190px 32px;
    }

    .big-text-under-logo p {
        margin-top: -35px;
    }
    
}

@media(min-width:990px) {
    .social-networks-fa-burger {
        display: none;
    }

    .phone-number {
        display: none;
    }

    .logo {
        font-size: 32px;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo h1{
        font-size: 115px;
        font-weight: 900;
        line-height: 140px;
    }

    .big-text-under-logo {
        width: 743px;
        height: 300px;
        padding: 330px 32px 255px 32px;
    }

    .big-text-under-logo p {
        margin-top: -35px;
    }

    .menu_icon {
        display: none;
        
    }

    .menu {
        position:relative;
        display: flex;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        margin-top: -30px;
    }
    
    .menu a {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        margin: 15px 20px 15px 20px;
    }
}
